@import './variables/generals';
@import './variables/colors';
@import './variables/fonts';

@import './sections/header';
@import './sections/footer';


/* INDEX */

main {
    .hero-index {
        background-image: linear-gradient(rgba(57, 81, 68, 0.7), rgba(57, 81, 68, 0.7)), url(/recursos/8514_background_1984x900.jpeg);
        height: 650px;
        background-size: cover;
        background-position: center center;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        h1 {
            font-family: $Outfit;
            font-weight: bolder;
            color: white;
            font-size: 70px;
        }
    }

    h2 {
        font-family: $Outfit;
        color: $verde-oscuro;
        font-size: $h2;
        padding: 60px 55px;
    }
}

.pedido {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "pizza1 pizza2 pizza3 tu-orden"
        "pizza4 pizza5 pizza6 tu-orden"
    ;
    margin-left: 30px;
    margin-right: 30px;
}

.pizza1 {
    grid-area: pizza1;
}

.pizza2 {
    grid-area: pizza2;
}

.pizza3 {
    grid-area: pizza3;
}

.pizza4 {
    grid-area: pizza4;
}

.pizza5 {
    grid-area: pizza5;
}

.pizza6 {
    grid-area: pizza6;
}

.tu-orden {
    grid-area: tu-orden;
}

.div-pizza {
    background-color: $crema;
    border: 1px $beige solid;
    border-radius: 100px 100px 2px 2px;
    margin: 0 10px 30px 10px;
    width: 250px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    img {
        height: 160px;
        margin-bottom: 10px;
    }

    h3 {
        font-family: $Outfit;
        color: $verde-oscuro;
        margin-bottom: 20px;
    }
    p {
        font-size: 12px;
        text-align: center;
        font-family: $Outfit;
    }
    a {
        background-color: $verde-claro;
        font-family: $Outfit;
        font-size: 14px;
        font-weight: 300;
        padding: 5px 15px;
        margin-top: 20px;
        text-decoration: none;
        color: white;
        border-radius: 5px;
    }
}

.div-pizza a:hover {
    background-color: $beige;
}

.tu-orden {
    background-color: $beige;
    border-radius: 130px 130px 5px 5px;
    padding: 0 30px 0 30px;
    margin-left: 30px;
    margin-right: 10px;
    h2 {
        color: white;
        text-align: center;
    }
    img {
        height: 70px;
    }
    h3 {
        font-family: $Outfit;
        font-size: $h3;
        color: $verde-oscuro;
    }
    p {
        font-family: $Outfit;
    }
    a {
        background-color: $verde-claro;
        font-family: $Outfit;
        font-size: 18px;
        font-weight: 500;
        padding: 5px 15px;
        text-decoration: none;
        color: white;
        border-radius: 5px;
        display: flex;
        justify-content: center;
    }
}

.orden1 {
    background-color: $crema;
    padding: 0 20px 0 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.orden2 {
    background-color: $crema;
    padding: 0 20px 0 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.orden3 {
    background-color: $crema;
    padding: 0 20px 0 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.precio-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
        font-size: 20px;
        color: white;
    }
}

.tu-orden a:hover {
    background-color: $crema;
    color: $verde-oscuro;
}

.orden-mobile {
    background-color: $beige;
    border-radius: 80px 80px 0 0;
    padding: 40px 30px 25px 30px;
    margin-top: 70px;
    display: none;
    img {
        height: 50px;
    }
}

.pedido-mob {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    p {
        color: white;
        font-size: 16px;
        font-family: $Outfit;
    }
} 

.btn-pedido-mob a {
    background-color: $verde-claro;
    font-family: $Outfit;
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.minibanner {
    background-image: linear-gradient(rgba(57, 81, 68, 0.8), rgba(57, 81, 68, 0.8)), url(/recursos/pizza-bg-1.png);
    height: 350px;
    margin-top: 80px;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        color: white;
        font-size: 24px;
        text-align: center;
        padding: 0 30px 0 30px;
    }
} 

/* MENÚ */

main .hero-menu,
.hero-hist {
    background-image: linear-gradient(rgba(57, 81, 68, 0.7), rgba(57, 81, 68, 0.7)), url(/recursos/pizza-bg-2.png);
    height: 300px;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pizzasMenu {
    max-width: $ancho-grande;
    margin: auto;
    h2 {
        font-family: $Outfit;
        color: $verde-claro;
        font-size: $h2;
        padding: 60px 0 55px 50px;
    }
}

.hero-menu h1 {
    font-family: $Outfit;
    font-weight: bolder;
    color: white;
    font-size: $h1-secundarias;
}

section .pizzasClasicas,
.pizzasEspeciales,
.pizzasPizzano {
    width: 100%;
    display: flex;
    justify-content: center;
}

.orden-gral {
    max-width: 100%;
    background-color: $beige;
    border-radius: 80px 80px 0 0;
    padding: 40px 30px 25px 30px;
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    img {
        height: 50px;
    }
    p {
        font-size: 20px;
        margin-left: 20px;
    }
}

.btn-pedido-gral a {
    background-color: $verde-claro;
    font-family: $Outfit;
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
    padding: 10px 50px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.btn-pedido-gral a:hover {
    background-color: $crema;
    color: $verde-oscuro;
}

/* HISTORIA */

.hero-hist h1 {
    font-family: $Outfit;
    font-weight: bolder;
    color: white;
    font-size: $h1-secundarias;
}

.histSection {
    max-width: $ancho-grande;
    margin: auto;
    justify-items: center;
    margin-top: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "imgHistoria textHistoria";
}

.imgHistoria {
    grid-area: imgHistoria;
    img {
        border-radius: 130px 130px 5px 5px;
        height: 500px;
    }
    h2 {
        font-family: $Outfit;
        color: $verde-claro;
        font-size: $h2;
        padding-bottom: 30px;
    }
}

.textHistoria {
    grid-area: textHistoria;
    p {
        font-family: $Outfit;
        font-size: 16px;
        padding-right: 65px;
    }
}

.galeriaHist {
    padding-top: 120px;
    width: $ancho-completo;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "galeria-1 galeria-2 galeria-3 galeria-4";
        img {
            width: 360px;
        }
}

.galeria-1 {
    grid-area: galeria-1;
}

.galeria-2 {
    grid-area: galeria-2;
}

.galeria-3 {
    grid-area: galeria-3;
}

.galeria-4 {
    grid-area: galeria-4;
}

.orden-gral {
    max-width: $ancho-grande;
    margin: auto;
    margin-top: 80px;
}

@import './sections/mediasqueries';


//AUN POR HACER

// 1. Crear variables para los colores. (HECHO)
// 2. Sustituir valores por las variables que ya creé. (HECHO)
// 3. Crear las páginas: Locales y Reservación.
// 4. Anidar el estilo del main. (HECHO)
// 5. Probar ¡¡EN OTRO PROYECTO!! cambiar el main.scss por style.scss y si es posible, crear una sección _main.scss en sections y dejar solo los @import en style.scss.
// 6. Ver grabación de SASS II