footer {
    background-color: $crema;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
        width: 195px;
    }

    li {
        margin: 10px;
        font-family: $Outfit;
        font-weight: bold;
        list-style-type: none;
        text-transform: uppercase;
    }

    a {
        color: $verde-claro;
        text-decoration: none;
    }
}