header {
    background-color: $crema;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
        width: 195px;
    }
    li {
    margin: 10px;
    display: inline;
    font-family: $Outfit;
    font-weight: bold;
    list-style-type: none;
    text-transform: uppercase;
    }
}

.nav-link {
    color: $verde-claro;
    text-decoration: none;
}

.nav-link:hover {
    color: $beige;
}

.active {
    color: $beige !important;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.header .boton {
    font-family: $Outfit;
    color: white;
    background-color: $beige;
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
}

.header .boton:hover {
    background-color: $verde-claro;
    scale: 1.05;
}